<h1>Rokkos.lviv</h1>

<div id="emailbox">

<p>
  Доброго дня! <%= @user.name %>

 Дякуєм за реєстрацію на нашому сайті Rokkos.lviv

 Для подальшої роботи з сайтом необхідно підтвердити адрес електронної пошти.


</p>

<%= link_to "Activate", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>
</div>