<h1>Скидання паролю</h1>

<p>Для скидання паролю нажміть на силку внизу</p>

<%= link_to "Скинути пароль", edit_password_reset_url(@user.reset_token,
                                                      email: @user.email) %>

<p>Силка активна протягом двох годин.</p>

<p>
 Якщо ви не надсилали запит на скидання паролю, проігнуруйте цей лист.
</p>