<%= form_with(model: desire, local: true) do |form| %>
  <% if desire.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(desire.errors.count, "error") %> prohibited this desire from being saved:</h2>

      <ul>
      <% desire.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
