// Place all the styles related to the Desires controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
table, td, th {
  border: 1px solid #ddd;
  text-align: left;
}
h1{margin: 10px;}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 15px;
}
p {margin: 10px;
}