// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table, td, th {
   border: 1px solid #ddd;
   text-align: left;
 }
h1{margin: 10px;}

table {
  border-collapse: collapse;
  width: 100%;
  a {

  padding: 5px;

  text-decoration: none;
  color: #1d1d1d;
  background-color: #fff;
  text-transform: uppercase;
  transition: all ease-in .3s;
  &:hover {
    background-color: #1d1d1d;
    color: #fff;


  }
}
}

th, td {
  padding: 15px;
}
p {margin: 10px;
}
#order-show {
margin: 0 auto;
  max-width: 500px;
  text-align: left;
  img {margin: 65px;}
  strong {float:left;width: 250px;}
  p {padding: 5px;}
  a {margin-left: 40%;font-size: 15px;font-weight: bold;text-decoration: none;}
}
#new-order {
  margin: 0 auto;
  max-width: 500px;
  text-align: left;
  .field {
    input {padding: 5px;}
    label {float: left;width: 200px;} }
}
.actions {margin-left: 35%;
  input{ padding: 5px;
    margin-bottom: 25px;
border: 1px solid #1d1d1d;
    font-size:15px;
  color: #1d1d1d;
  background-color: #fff;
  text-transform: uppercase;
  transition: all ease-in .3s;
  &:hover {
    background-color: #1d1d1d;
    color: #fff;

  }
  }
}