<div id="footer">
  <div id="footer-box">

    <div class="footer-link"><%= image_tag('instagramicon.png',height: '35px',width: '35px') %> <div class="linkblock"><span>rokkos_lviv</span></div></div>
    <div class="footer-link"><%= image_tag('emailicon.png',height: '35px',width: '35px') %> <div class="linkblock"><span></spam>lviv.rokkos@gmail.com</span></div></div>
    <div class="footer-link"> <%= image_tag('phoneicon.png',height: '35px',width: '35px') %> <div class="linkblock"><span>+380681355911</span></div></div>
    <div class="footer-link"><%= image_tag('addressicon.png',height: '35px',width: '35px') %> <div class="linkblock"><span>Львів, Лукаша/5</span></div></div>

  </div>


</div>